:root {
    --text1: rgba(205, 214, 244, 1);
    --text2: rgba(205, 214, 244, 0.87);
    --text3: rgba(205, 214, 244, 0.6);
    --text4: rgba(205, 214, 244, 0.37);
    --back1: rgba(17, 17, 27, 1);
    --back2: rgba(17, 17, 27, 0.87);
    --back3: rgba(17, 17, 27, 0.6);
    --back4: rgba(17, 17, 27, 0.37);
    --base1: rgba(30, 30, 46, 1.00);
    --base2: rgba(30, 30, 46, 0.87);
    --base3: rgba(30, 30, 46, 0.60);
    --base4: rgba(30, 30, 46, 0.37);
    --highlight1: rgba(137, 180, 250, 0.5);
    --highlight2: rgba(137, 180, 250, 0.05);
    --red: 243, 139, 168;
    --orange: 250, 179, 135;
    --yellow: 249, 226, 175;
    --green: 166, 227, 161;
    --teal: 148, 226, 213;
    --cyan: 116, 199, 236;
    --blue: 137, 180, 250;
    --purple: 203, 166, 247;
}
* {
    font-family: 'Modulus Pro', sans-serif;
	font-weight: 500;
    box-sizing: border-box;
    margin: 0;
	text-decoration: none;
	user-select: none;
	color: var(--text1);
    transition: all 0.3s cubic-bezier(0.49, 0.27, 0, 1);
}
body {
    display: flex;
    gap: 30px;
    flex-direction: column;
    background: var(--back1);
    margin: 0;
    overflow-y:scroll;
    animation: auto;
}


/* Dock */
#dockholder {
    position: fixed;
    bottom: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    
    z-index: 100;
    width: 100%;
    height: 90px;
}
div#dock {
    position: fixed;
    bottom: 20px;

    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px;
    
    z-index: 100;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 27px;
    background: var(--base4);
    border: 2px solid var(--back);
    box-shadow: 0px 0px 20px 0px var(--back2);
    width: fit-content;
    height: fit-content;
}
    /* Dock Link */
    .docklink {
        margin: 0;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        font-size: 0px;
        letter-spacing: -5px;
        line-height: 0;
        font-weight: 700;
        color: transparent;
        border-radius: 50%;
        width: 38px; height: 38px;
        cursor:pointer;

        fill: var(--text2)
    }
    .docklink:hover {
        color: var(--text1);
        background: var(--highlight2);
        scale: 0.925;

        fill: var(--text1);
    }

    .docklink.reached {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        background-color: var(--highlight1);
        color: var(--text1);

        fill: var(--base1);
    }

    /* Dock Link Icons */
    svg.docklink_icon {
        height: 18px;
        width: auto;
        fill: inherit;
    }
    path {
        fill: inherit;
    }


/* Cover */
#cover_holder {
    padding: 30px 30px 0px 30px;
    box-sizing: border-box;
}
div#cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 0px;
    
    background-color: var(--base1);
    border-radius: 30px;
    height: fit-content;
    width: 100%;
}
    /* Cover Examples Holder*/
    #cover_examples {
        position: absolute;
        top: 30px; left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        width: calc(100% - 60px);
        height: 230px;
        border-radius: 30px;
        overflow: hidden;
        z-index: 0;
    }
        /* Examples */
        .example[name=ex1] {
            height: 400px;

            transform: rotate(20deg);
            top: -70px;
            left: -70px;
            z-index: 1;
            filter: blur(5px);
            opacity: 40%;
        }
        .example[name=ex2] {
            height: 300px;

            transform: rotate(-30deg);
            bottom: -100px;
            left: -20px;
            z-index: 2;
        }
        .example[name=ex3] {
            height: 100%;

            bottom: 0px;
            right: 0vw;
            
            z-index: 0;
        }

        .example {
            position: absolute;
        }

    /* Greeting */
    #greeting {
        font-size: 40px;
        color: #A0A1A2;
        z-index: 1;
        filter: drop-shadow(0px 0px 10px rgba(30, 30, 46, 1.00));
    }

    /* Profile Holder */
    #profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 10px;
        padding: 9px 18px;
        z-index: 1;

        border-radius: 30px;
        filter: drop-shadow(0px 0px 20px rgba(30, 30, 46, 1.00))
    }
    #profile:hover {
        background: var(--highlight2);
        scale: 1.05;
    }
        /* Profile Info */
        #pfp {
            width: 50px;
            border-radius: 18px;
            z-index: 1;
            filter: drop-shadow(0px 0px 20px rgba(30, 30, 46, 1.00))
        }
        #name {
            font-size: 50px;
            font-weight: 600;
            color: #c9b59e;
            z-index: 1;
            filter: drop-shadow(0px 0px 20px rgba(30, 30, 46, 1.00));
        }

    /* Speech Bubble */
    div#speechbubble {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
    }
        #speechtriangle {
        height: 20px;
        width: 54px;
        fill: var(--back4);
        filter: drop-shadow(0px 0px 20px 5px --back2);
        }
        div#speechtext {
            padding: 10px;
            text-align: center;

            border-radius: 10px;
            background-color: var(--back4);
            box-shadow: 0px 0px 20px 0px var(--back2);
            color: var(--text3);
            font-size: 20px;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
        }

        
/* Card */
div.holder {
    padding: 0px 30px 30px 30px;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
}
div.card {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    background-color: var(--base1);
    border-radius: 30px;
    height: fit-content;
    width: 100%;
}

    /* Card Title Holder */
    div.ctitle {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }
        h3.ctitle_text {
            font-size: 30px;
            font-weight: 600;
        }
        svg.cicon {
            width: 30px;
            fill: var(--text1);
        }

    /* Section In Card */
    div.csection {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
        /* Card Section Title Holder */
        .csect_title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
        }
            svg.csect_titleicon {
                height: 25px;
                fill: var(--text2);
            }

            h4.csect_titletext {
                font-size: 25px;
                color: var(--text2);
                font-weight: 600;
            }

        /* Card Section Content */
        li {
            font-size: 20px;
            color: var(--text2);
            padding-left: 10px;
            list-style-type: "\2023   ";
        }