* {
    font-family: 'SF Pro Display', sans-serif;
	font-weight: 500;
    box-sizing: border-box;
    margin: 0;
	text-decoration: none;
	user-select: none;
	color: white;
    transition: all 0.5s cubic-bezier(0.49, 0.27, 0, 1);
}

body {
    background-color: #0e0e0e;
    margin: 0;
    overflow-y:scroll;
    animation: auto;
}

#dock_area {
    position: fixed;
    bottom: 0;
    align-self: stretch;
    height: 90px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: center;

    #dock_blur {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        div {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;  
        }
    }

    #dock_blur > div,
    #dock_blur::before,
    #dock_blur::after {
    position: absolute;
    inset: 0;}
    #dock_blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(0.125px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 12.5%,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 0) 37.5%
    );}
    #dock_blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(0.25px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 12.5%,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 1) 37.5%,
        rgba(0, 0, 0, 0) 50%
    );}
    #dock_blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(0.5px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 1) 37.5%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 62.5%
    );}
    #dock_blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 37.5%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 62.5%,
        rgba(0, 0, 0, 0) 75%
    );}
    #dock_blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1) 62.5%,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 0) 87.5%
    );}
    #dock_blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 62.5%,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 1) 87.5%,
        rgba(0, 0, 0, 0) 100%
    );}
    #dock_blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(8px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 1) 87.5%,
        rgba(0, 0, 0, 1) 100%
    );}
    #dock_blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(16px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 87.5%,
        rgba(0, 0, 0, 1) 100%
    );}
}

#dock_blur.reached {
    transform: translateY(200px);
}

div#dock {
    z-index: 100;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    display: inline-flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 10px;
}

.docklink {
    cursor:pointer;

    display: flex;
    flex-direction: row;
    gap: 0px;
    margin: 0;
    justify-content: center;
    padding: 8px 14px;
    text-decoration: none;
    width: fit-content;
    align-items: center;

    font-size: 0px;
    letter-spacing: -5px;
    line-height: 0;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.0);
    border-radius: 100px;

    svg {
        height: 18px;
        width: auto;
        fill: rgba(255, 255, 255, 0.6);
    }
}
.docklink:hover {
    gap: 5px;
    font-size: 17px;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255,255,255,0.06);
    scale: 0.95;
}

.docklink.reached {
    color: white;
    gap: 5px;
    font-size: 17px;
    letter-spacing: normal;
    
    svg {
        height: 17px;
        width: auto;
        fill: rgba(255, 255, 255, 1);
    }
}

div#cover_holder {
    padding: 20px 20px;
    width: 100%;
    height: 607px;
}

div#cover {
    background-color: #ffffff28;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#greeting {
    font-size: 40px;
}
#name {
    font-size: 60px;
    font-weight: 600;
}

div.card_holder {
    padding: 20px 20px;
    width: 100%;
    height: 100vh;
}