/* Stuff */
@font-face {
    font-family: sf pro display;
    font-style: normal;
    font-weight: 400;
    src: local('SF Pro Display'),url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYREGULAR.woff) format('woff')
}

@font-face {
    font-family: sf pro display;
    font-style: italic;
    font-weight: 100;
    src: local('SF Pro Display'),url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYULTRALIGHTITALIC.woff) format('woff')
}

@font-face {
    font-family: sf pro display;
    font-style: italic;
    font-weight: 200;
    src: local('SF Pro Display'),url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYTHINITALIC.woff) format('woff')
}

@font-face {
    font-family: sf pro display;
    font-style: italic;
    font-weight: 300;
    src: local('SF Pro Display'),url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYLIGHTITALIC.woff) format('woff')
}

@font-face {
    font-family: sf pro display;
    font-style: normal;
    font-weight: 500;
    src: local('SF Pro Display'),url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYMEDIUM.woff) format('woff')
}

@font-face {
    font-family: sf pro display;
    font-style: italic;
    font-weight: 600;
    src: local('SF Pro Display'),url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYSEMIBOLDITALIC.woff) format('woff')
}

@font-face {
    font-family: sf pro display;
    font-style: normal;
    font-weight: 700;
    src: local('SF Pro Display'),url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYBOLD.woff) format('woff')
}

@font-face {
    font-family: sf pro display;
    font-style: italic;
    font-weight: 800;
    src: local('SF Pro Display'),url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYHEAVYITALIC.woff) format('woff')
}

@font-face {
    font-family: sf pro display;
    font-style: italic;
    font-weight: 900;
    src: local('SF Pro Display'),url(https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYBLACKITALIC.woff) format('woff')
}

* {
    font-family: 'SF Pro Display', sans-serif;
	font-weight: 400;
	text-decoration: none;
	user-select: none;
	color: white;
    transition: all 0.25s cubic-bezier(0.49, 0.27, 0, 0.97);
}

body {
    background-color: #0e0e0e;
    margin: 0;
    overflow-y: auto;
    animation: auto;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


img#background {
    width: 100%;
    height: 100%;
    margin: 0px;
    top: 0;
    left: 0;
    z-index: -10;
    position: fixed;
}

#dock_area {
    position: fixed;
    bottom: 0;
    align-self: stretch;
    height: 90px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: center;

    #dock_blur {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        div {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;  
        }
    }

    #dock_blur > div,
    #dock_blur::before,
    #dock_blur::after {
    position: absolute;
    inset: 0;}
    #dock_blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(0.125px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 12.5%,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 0) 37.5%
    );}
    #dock_blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(0.25px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 12.5%,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 1) 37.5%,
        rgba(0, 0, 0, 0) 50%
    );}
    #dock_blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(0.5px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 1) 37.5%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 62.5%
    );}
    #dock_blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 37.5%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 62.5%,
        rgba(0, 0, 0, 0) 75%
    );}
    #dock_blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1) 62.5%,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 0) 87.5%
    );}
    #dock_blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 62.5%,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 1) 87.5%,
        rgba(0, 0, 0, 0) 100%
    );}
    #dock_blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(8px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 1) 87.5%,
        rgba(0, 0, 0, 1) 100%
    );}
    #dock_blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(16px);
    mask: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 87.5%,
        rgba(0, 0, 0, 1) 100%
    );}
}


div#dock {
    z-index: 100;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(0deg, rgba(38, 38, 38, 0.5) 0%, rgba(38, 38, 38, 0.5) 100%), rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    display: inline-flex;
    padding: 8px;
    align-items: flex-start;
    gap: 0px;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 20px;
}

div#dock:hover {
    scale: 1.2;
    bottom: 24px;
}

.docklink {
    cursor:pointer;
    gap: 0px;
    margin: 0;
    justify-content: center;
    padding: 8px 14px;
    text-decoration: none;
    width: fit-content;
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}
.docklink:hover {
    border-radius: 100px;
    background: rgba(255,255,255,0.06);
}

.docklink_s {
    cursor:pointer;
    gap: 0px;
    justify-content: center;
    padding: 8px 14px;
    text-decoration: none;
    width: fit-content;
    font-size: 17px;
    font-weight: 500;
    border-radius: 50%;
}
.docklink_s:hover {
    border-radius: 100px;
    background: rgba(255,255,255,0.06);
}

.socialicon {
    fill: transparent;
    svg{
        width: auto;
        height: 100%;
    }
}

.social_docklink {
    cursor:pointer;
    gap: 0px;
    margin: 0;
    justify-content: center;
    padding: 8px 14px;
    text-decoration: none;
    width: fit-content;
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    
    .socialicon {
        filter: blur(20px);
        opacity: 0;
        height: 0;
    }
}
.social_docklink:hover {
    border-radius: 100px;
    background: rgba(255,255,255,0.06);
    font-size: -10;
    color: transparent;
    letter-spacing: -8px;

    .socialicon {
        height: 20px;
        filter: blur(0px);
        opacity: 1;
        fill: rgba(255,255,255,0.6);
    }
    .socialicon:hover {
        fill: rgba(255,255,255,1);
    }
}